@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

/* N O T E S  P A G E*/
/* .branch h1 {
  text-align: center;
  padding: 15px;
  z-index: 1;
}
.branch h1 {
  padding: 30px 15px 15px 15px;
} */
/* .notes-selection h5 {
  position: absolute;
  left: 10px;
  z-index: 2;
} */
.buttons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #fe1f66; */
  border-radius: 10px;
  padding: 0px;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
}
.buttons .inputBox{
  flex: 2 350px;
  max-width: 400px;
}
.buttons input[type="search"]{
  padding:.5rem 1rem;
  background-color: rgba(250, 248, 248, 0.507);
  width: 90%;
  flex: 2;
  color: white;
}

.label-name{
  margin: 0rem 1rem;
}
.label-name select {
  color: white;
  background-color: #fe1f66;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 5px;
  flex: 1;
}
.chapters p:first-of-type {
  text-align: right;
}
.chapter-card .chapter-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}
.chapters{
  display: flex;
  border: 2px outset #fe1f66;
  width: 250px;
  padding: 1em;
  min-height: 150px;
  max-height: fit-content;
  box-shadow: 0.5px 0.5px black, 0.75px 0.75px black;
  border-radius: 10px;
  flex-direction: column;
  background-color: #fe1f66;
  transition: 0.2s;
  margin: 1em;
}
.popup-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup{
  outline: 0;
  min-width: 300px;
  width: 80vw;
  margin: auto;
  border: 2px solid transparent;
  border-radius: 1rem;
  height: 500px;
  max-height: 100vh;
  background-color:rgba(0, 0, 0, 0.568);
  backdrop-filter: blur(15px);
}
.popup .chapter-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 425px;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 1rem 0rem 0rem 0rem;
}
.popup-heading{
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    background-color: rgba(122, 129, 129, 0.5);
}
.popup ::-webkit-scrollbar {
  appearance: none;
  height: 10px;
  transition: 0.3s;
  margin:1rem;
}
.popup ::-webkit-scrollbar-track {
    background-color: white;
  border-radius: 20px;
}
.popup ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #18171788;
}
.popup ::-webkit-scrollbar-track:hover {
  transform: scale(1.1);
} 
.chapters:hover {
  transform: scale(1.05);
}
.chapters:active {
  border: 2px solid white;
}
.chapter-card {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  border-radius: .75em;
  padding: 1em;
  max-height: 80vh;
  overflow-y: auto;
}
.notes-selection {
  margin-bottom: 1rem;
  min-height: 60vh;
  position: relative;
}
.notes-selection ::-webkit-scrollbar {
  appearance: none;
  height: 10px;
  transition: 0.3s;
  margin:1rem;
}
.notes-selection ::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}
.notes-selection ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fe1f66;
}
.notes-selection ::-webkit-scrollbar-track:hover {
  transform: scale(1.1);
} 
.cross-button{
  background-color:rgba(67, 0, 9);
  color: #fe1f66;
  border: rgba(67,0,93) 2px solid;
}
.cross-button:hover{
  background-color:white;
  color: #fe1f66;
  border: rgba(67,0,93) 2px solid;
  background-color: rgba(67,0,93);
}


@media screen and (max-width: 768px) and (min-width: 300px) {
  .chapters {
    flex-basis: 200px;
    width: 90%;
    margin: 1em auto;
    position: relative;
  }
  .chapter-card{
    background-color:rgba(0, 0, 0, 0.568);
  }
  .chapters>*{
    margin: 0 !important;
  }
  .chapters p:first-of-type {
    text-align: right;
    position: relative;
  }
  .labels{
    flex: 2 1 100%;
    display: flex;
    justify-content: center;
  }
}